body{
    height: 100vh;
    margin: 0;
    background:rgb(0, 0, 0);
}

/* <section id="start">*/
#start .code1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*<div class="code1">*/
.code1 {
    width:100%;
}

/*for bigger desktop screen*/
@media only screen and (max-width: 1045px) {
h1 {
    font-size: 70px;
}
}

h1{
    margin:0; 
    color: rgb(202, 182, 68);
    font-family: sans-serif;
    font-size: 70px;
    margin-top: 70px;
}

/*<section id="alpha"*/
.case:not(:last-child) {
    padding-bottom: 50px;
}

.case:not(:first-child) {
    padding-top: 50px;
}
.case {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/*class="info-case">*/
.info-case {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alpha .code1:first-child{
    margin-bottom: 35px;
}
.code1 {
    width: 100%;
}

/*for bigger desktop screen*/
@media only screen and (max-width: 1045px) {
h2 {
        font-size: 70px;
}
}

h2{
    margin:0; 
    color: rgb(202, 182, 68);
    font-family: sans-serif;
    font-size: 40px;
    display: inline-block;
    margin-top: 10px;
}

/*<div id ="infobox" class="info-case">*/
#infobox {
    align-items: flex-start;
}

/*-----------------------*/

.code2 {
    width: 25%; /*25*/
}

#infobox .code2 h3{
    margin: 0 15px;
}
#infobox .code2 ul li {
    margin: 0 15px;
}

#infobox ul{
    padding: 0;
}

/*for bigger desktop screen*/
@media only screen and (max-width: 1045px) {
h3 {
    font-size: 16px;
}
}

h3 {
    font-size: 17px;
    color: white;
    margin: 0;
    font-family: sans-serif;
    text-align: left;
}

/*for bigger desktop screen*/
@media only screen and (max-width: 1045px) {
    li{
        line-height: 20px;
        font-size: 20px;
    }
}

li{
    font-family: sans-serif;
    color: white;
    font-size: 19px;
    line-height: 20px;
}

section{
    display: block;
}

/*for bigger desktop screen, and    <div class="code1">*/
@media only screen and (max-width: 1045px) {
    #testwo .code1:last-child {
        flex-wrap: wrap;
    }
} 

/*IMAGE FLEX HERE*/
#testwo .code1:last-child{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/*for bigger desktop screen and      <div calass="code3">*/
@media only screen and (max-width: 1045px) {
    #testwo .code1:last-child .code3{
        margin-bottom: 5%;
        width: 50%;
    } 
}


/*IMAGE SPACE AND SIZE HERE*/
.code3 {
    padding: 1%;
}

.pic-hover {
    width: 100%;
    height: inherit;
}

img {
    display: block;
    width: inherit;
}

div {
    display: block;
}
