/*-----------------------------------------------HTML--------------------------------------*/
html {
    display:block;
}
body{
    display: block;
    height: 150vh;
    margin: 0;
    background: radial-gradient(rgba(42, 43, 41, 0.952), rgb(0, 0, 0))
}
main { /*top, right, bottom, left*/
    padding: 50px 0 50px;
    display: block;
}

section {
    display: block;
}

div {
    display: block;
}
/*---------------------------------------------------------------------------------------*/



/*-----------------------------Microinteraction title------------------------------------*/
.script-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---------------------------------------------------------------------------------------*/



/*---------------------------------------H1----------------------------------------------*/
h1 {
    font-size: 50px;
    color: rgb(202, 182, 68);
    text-shadow: 3px 3px 15px rgb(128, 117, 86);
    font-family:sans-serif;
    margin: 5px;    /*come back fix this*/
    font-weight: 770;
}
/*---------------------------------------------------------------------------------------*/



/*-----------------------------------------H2--------------------------------------------*/
h2 {
    font-size: 33px;
    font-family: sans-serif;
    color: rgb(199, 191, 147);
    margin: 25px;
    display: inline-block;
    font-weight: 650;
}


/*---------------------------------------------------------------------------------------*/


/*--------------------------------------alpha--------------------------------------------*/
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.container-case {
    display: flex;
    justify-content: space-evenly; /*center*/
    flex-wrap: wrap;
    column-gap: 13%;
}


#alpha .script-1 {
    margin-bottom: 30px;
}
/*---------------------------------------------------------------------------------------*/



/*-----------------------------------------box-------------------------------------------*/
#box {
    align-items: flex-start;
}
/*---------------------------------------------------------------------------------------*/


/*----------------------------------------script-2 or h3---------------------------------*/

.script-2 {
    width: 25%;

}

h3{
    margin: 0 15px;
    font-family: sans-serif;
    color: white;
    font-size: 24px;
    text-align:left;
}
/*---------------------------------------------------------------------------------------*/


/*--------------------*-----------------Ul and li----------------------------------------*/
ul {
    padding: 0;
}

li {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin: 0 2px;
    list-style: circle;
}
/*---------------------------------------------------------------------------------------*/

/*--------------------------MOBILE SCREEN for paragraphy/title---------------------------*/

/*  color: rgb(202, 182, 68);*/
@media only screen and (max-width: 768px) {
main {
    margin: 0 30px
}
}

@media only screen and (max-width: 768px) {
h1 {
    font-size: 25px;
}
}

@media only screen and (max-width: 768px) {
h2 {
    font-size: 25px;
    font-style: italic;
    margin: 0;
}
}

@media only screen and (max-width: 768px) {
.script-2 {
    font-size: 18px;
    width: 100%;
    margin: 17px;
    /*come back fix this*/
}
}

@media only screen and (max-width: 768px) {
ul, li {
    font-size: 20px;
}
}
/*---------------------------------------------------------------------------------------*/



/*--------------------------------------example------------------------------------------*/
.container-case {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
}

#example .script-1 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    column-gap: 5%;
    flex-wrap: wrap;

}

picture {
    max-width: 100%;
    height: inherit;
}

/*image fit content size in small box*/
img {
  align-items: center;
  width: 22rem;
  height: 30rem;
  object-fit: cover;
  object-position: bottom;
  padding-bottom: 2rem;
}
/*---------------------------------------------------------------------------------------*/



/*--------------------------MOBILE SCREEN for image--------------------------------------*/
@media only screen and (max-width: 768px) {
    .picture {
        margin-top: 15%;
    }
    }

@media only screen and (max-width: 768px) {
    .script-1 {
        margin-top: 25px;
        margin-bottom: 0;
    }
    }

/*---------------------------------------------------------------------------------------*/
